# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
builds
/mapster32/*.cache
/mapster32/mapster32.log
stuff
/mapster32/textures
/mapster32/autosave.map
/mapster32/backup.map
/mapster32/DUKE3D.GRP
/mapster32/autosave_playtest.map
/mapster32/eduke32-oldmp_binds.cfg
/mapster32/eduke32-oldmp.cfg
/mapster32/eduke32-oldmp.log
/mapster32/eduke32.cfg
/mapster32/*.log
/mapster32/eduke32.exe
/mapster32/capt*.png
/mapster32/settings.cfg
/pk3/VERSION.CON
/pk3/maps/THERMALBASE_UNFUCK.map
/duke_cleanup
/pk3/maps/_SE.MAP
/pk3/maps/_ST.MAP
/pk3/maps/_ZOO.MAP
/pk3/maps/RAILTEST.map
